name: OSX
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [master]
concurrency:
  group: ${{ github.workflow }}-${{ github.job }}-${{ github.ref }}
  cancel-in-progress: true
defaults:
  run:
    shell: bash -e -l {0}
jobs:
  build:
    runs-on: macos-${{ matrix.os }}
    name: macos-${{ matrix.os }} - OpenBLAS
    strategy:
      fail-fast: false
      matrix:
        os:
        - 13
        - 14
        - 15

    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set conda environment
      uses: mamba-org/setup-micromamba@main
      with:
        environment-name: myenv
        environment-file: environment-dev.yml
        init-shell: bash
        cache-downloads: true

    - name: Install OpenBLAS
      run: micromamba install 'openblas==0.3.29=openmp*' blas-devel

    - name: Configure using CMake
      run: cmake -Bbuild -DDOWNLOAD_GTEST=ON -DCMAKE_PREFIX_PATH=$CONDA_PREFIX -DCMAKE_SYSTEM_IGNORE_PATH=/usr/lib

    - name: Build
      working-directory: build
      run: cmake --build . --target test_xtensor_blas --parallel 8

    - name: Run tests
      working-directory: build/test
      run: ./test_xtensor_blas
